In [11]:
#set data type in python
a=17
print(type(a)) 
b="Hi guys"  
print(type(b)) 
c = 106.95  
print(type(c))  
c = 1+3j  
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

In [9]:
#while statement
i=0
n=10
sum=0
while(i<n):
    print(i)
    sum=sum+i
    i=i+1
print("sum is ",sum)

0
1
2
3
4
5
6
7
8
9
sum is  45

In [13]:
#do while statement

print("here do while loops are not present in python")

here do while loops are not present in python

In [14]:
#map
#syntax: map(function,sequence)
    
seq=list(range(0,5))
list(map(str,seq))

['0', '1', '2', '3', '4']

In [18]:
for i in map(str,seq):
    print(i)

0
1
2
3
4

In [20]:
#filter

flowers=['rose','jasmine','lilly','lightmine','lotus','rosemine']
list(filter(lambda x: "mine" in x,flowers))

['jasmine', 'lightmine', 'rosemine']

In [27]:
#reduce

num=list(range(2,10,2)) #list of even numbers
num

[2, 4, 6, 8]

In [28]:
from functools import reduce
reduce(lambda a,b:a*b,num)

384